@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,.form-control,.btn {
    font-size: 0.75rem;
    line-height: 0.75;
}

.igx-input-group__input, .igx-input-group__textarea {
    height: 1.5rem;
    border-top: .12rem solid transparent;
}

.igx-input-group--box .igx-input-group__bundle-main, .igx-input-group--border .igx-input-group__bundle-main, .igx-input-group--indigo .igx-input-group__bundle-main, .igx-input-group--search .igx-input-group__bundle-main {
    padding-top: 0.5rem;
}

.igx-checkbox__composite {
    width: 1.2em;
    height: 1.2em;
    min-width: 1.2em;
    border-width: .1.2em;    
}

[class*=sidebar-dark-] {
    background-color: #366ca1;
}

/* .navbar-white {
    background-color: #366ca1;
    color: #1f2d3d;
} */

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

[class*=sidebar-dark-] .sidebar a {
    color: #ffffff;
}

.igx-grid__thead-title, .igx-grid__th, .igx-grid__td {   
    padding: 0 0.9rem;
    line-height: 0.8rem;
}

.igx-grid__thead-title, .igx-grid__th, .igx-grid__td {
    padding: 0 0.5rem;
    line-height: 0.9rem;
}