<div class="card card-default">
    <!-- <div class="card-header">
        <h3 class="card-title">Sales Order</h3>       
    </div> -->

    <div class="card-body">
        <!-- SALES ORDER HEADER -->
        <form [formGroup]="soHeaderForm" autocomplete="off">
            <div class="row">
                <div class="col-11">
                    <h6 class="bg-secondary">
                        <!-- <i class="fas fa-file-alt"></i>  -->
                        Sales Order Header
                    </h6>
                </div>
                <div class="col-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success mr-3" [disabled]="!soHeaderForm.valid"
                            (click)="this.savedialog.open()" data-toggle="tooltip" data-placement="bottom" title="Save">
                            <i class="fas fa-save"></i>
                        </button>
                        <button type="button" class="btn btn-default" (click)="refreshSalesOrder()"
                            data-toggle="tooltip" data-placement="bottom" title="Clear">
                            <i class="fas fa-redo"></i>
                        </button>
                    </div>
                </div>
                <!-- /.col -->
            </div>

            <div class="row">
                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label> Sales Order Ref *</label>
                        <igx-input-group type="search">
                            <input #input1 igxInput placeholder="Sales Order Ref" formControlName="orderRef" (keyup)="onKey($event)" />
                            <igx-suffix *ngIf="input1.value.length > 0" (click)="input1.value = ''" (click)="refreshSalesOrder()">
                                <igx-icon>clear</igx-icon>
                            </igx-suffix>
                            <igx-prefix (click)="loadSalesOrderDt()" >
                                <igx-icon>search</igx-icon>
                            </igx-prefix>
                        </igx-input-group>
                    </div>
                </div> -->

                <div class="col-md-2">
                    <label> Sales Order Ref *</label>
                    <div class="input-group mb-3">                        
                        <input type="text" placeholder="Sales Order Ref" formControlName="orderRef" class="form-control rounded-0">
                        <span class="input-group-append">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalSalesList" data-placement="bottom" title="View"> 
                              <i class="fas fa-eye"></i> </button>
                        </span>
                      </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="customerRef" />
                            <label igxLabel for="customerRef"> Customer PO# </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label> Customer Name *</label>
                        <igx-combo #customer id="customer" class="combo" displayKey="name" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="customerList" placeholder="Customer"
                            (onSelectionChange)="singleSelection($event)" 
                            (onSelectionChange)="loadCustomerDt($event)"
                            formControlName="customerId" searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label> Delivery Location </label>
                        <igx-combo #location id="location" class="combo" displayKey="name" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="customerDtList" placeholder="Location"
                            (onSelectionChange)="singleSelection($event)" formControlName="customerLocId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="group">
                        <igx-date-picker id="delDate" formControlName="delDate">
                            <label igxLabel>Del. Date</label>
                        </igx-date-picker>
                    </div>
                </div>                
            </div>

            <div class="row">               

                <div class="col-md-2">
                    <div class="form-group">
                        <label> Currency </label>
                        <igx-combo #currency id="cusCurrencyId" class="combo" displayKey="code" valueKey="currencyId"
                            [itemsMaxHeight]="250" [data]="customerCurrList" placeholder="Currency"
                             formControlName="cusCurrencyId" (onSelectionChange)="singleSelection($event)"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Order Type </label>
                        <igx-combo #salesCat id="salesCat" class="combo" displayKey="code" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="salesCatList" placeholder="Order Type"
                            (onSelectionChange)="singleSelection($event)" formControlName="salesCategoryId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label> Contact Person </label>
                        <igx-combo #users id="users" class="combo" displayKey="name" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="customerUserList" placeholder="Users"
                            (onSelectionChange)="singleSelection($event)" formControlName="customerUserId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Sales Agent </label>
                        <igx-combo #salesAgents id="salesAgents" class="combo" displayKey="name" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="salesAgentList" placeholder="Sales Agent"
                            (onSelectionChange)="singleSelection($event)" formControlName="salesAgentId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>  

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Division</label>
                        <igx-combo #division id="division" class="combo" displayKey="details" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="divisionList" placeholder="Division"
                            (onSelectionChange)="singleSelection($event)" formControlName="customerDivId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label>Country of Origins </label>
                        <igx-combo #countries id="countries" class="combo" displayKey="code" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="countryList" placeholder="Countries"
                            (onSelectionChange)="singleSelection($event)" formControlName="countryId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>               -->

            </div>

            <div class="row">               

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Payment Terms </label>
                        <igx-combo #payTerms id="payTerms" class="combo" displayKey="code" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="payTermsList" placeholder="Payment Terms"
                            (onSelectionChange)="singleSelection($event)" formControlName="paymentTermId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>             
               
                
                <div class="col-md-2">
                    <div class="group">
                        <igx-date-picker id="trnsDate" formControlName="trnsDate">
                            <label igxLabel>Trns. Date</label>
                        </igx-date-picker>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <igx-checkbox #chkIsCharge checked="false" formControlName="isChargeable">
                            IsChargeable
                        </igx-checkbox>
                    </div>
                </div>
            </div>

        </form>

        <!--Article Items-->
        <!-- <form [formGroup]="articleForm" autocomplete="off">
            <div class="row">
                <div class="col-md-11">
                    <h6 class="bg-secondary">
                        Article
                    </h6>
                </div>
                <div class="col-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info mr-3" (click)="loadArticle()">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
            </div>           
        </form> -->

        <!-- SALES ORDER ITEMS -->
        <form [formGroup]="soItemForm" autocomplete="off">
            <div class="row">
                <div class="col-12">
                    <h6 class="bg-secondary">
                        <!-- <i class="fas fa-file-alt"></i>  -->
                        Sales Order Item
                    </h6>
                </div>
                <!-- /.col -->
            </div>

            <div class="row">              
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Article Name *</label>

                        <button igxButton="icon" class="fab-compact" (click)="articleDialog.open()" data-toggle="tooltip" 
                                data-placement="bottom" title="Search">
                            <igx-icon family="material">search</igx-icon>
                        </button>
                        <!-- <igx-prefix (click)="articleDialog.open()">
                            <igx-icon> search</igx-icon>
                        </igx-prefix> -->
                
                        <igx-combo #article class="combo" displayKey="articleName" valueKey="autoId" [itemsMaxHeight]="250"
                            [data]="allArticleList" placeholder="Article Name" (onSelectionChange)="singleSelection($event)"
                            formControlName="articleName" searchPlaceholder="Search..." (onSelectionChange)="onArticleSelect($event)">
                        </igx-combo>                
                    </div>
                </div>

                   <!-- <igx-input-group type="search">
                            <input #txtArticle igxInput placeholder="Article Name" formControlName="articleName" />
                            <igx-suffix *ngIf="txtArticle.value.length > 0" (click)="onClearArticle()">
                                <igx-icon>clear</igx-icon>
                            </igx-suffix>
                            <igx-prefix (click)="articleDialog.open()" >
                                <igx-icon>search</igx-icon>
                            </igx-prefix>
                        </igx-input-group> -->

                <div class="col-md-2">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="articleCode" />
                            <label igxLabel for="articleCode"> Article Code *</label>
                        </igx-input-group>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" *ngIf="showColor">
                        <label>Color *</label>
                        <igx-combo #cmbcolor class="combo" displayKey="name" valueKey="autoId" [itemsMaxHeight]="250"
                            [data]="colorList" placeholder="Color" (onSelectionChange)="singleSelection($event)"
                            formControlName="colorId" searchPlaceholder="Search...">
                        </igx-combo>
                    </div>

                    <div class="form-group" *ngIf="!showColor">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="colorId" />
                            <label igxLabel for="colorId"> Color *</label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group" *ngIf="showSize">
                        <label> Size *</label>
                        <igx-combo #cmbsize class="combo" displayKey="name" valueKey="autoId" [itemsMaxHeight]="250"
                            [data]="sizeList" placeholder="Size" (onSelectionChange)="singleSelection($event)"
                            formControlName="sizeId" searchPlaceholder="Search...">
                        </igx-combo>
                    </div>

                    <div class="form-group" *ngIf="!showSize">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="sizeId" />
                            <label igxLabel for="sizeId"> Size *</label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="number" formControlName="qty" />
                            <label igxLabel for="qty"> Qty </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="number" formControlName="price" />
                            <label igxLabel for="price"> Price </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success mr-3" [disabled]="!soItemForm.valid" (click)="addItemRow()"
                            data-toggle="tooltip" data-placement="bottom" title="Add">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default" (click)="clearItemControls()"
                            data-toggle="tooltip" data-placement="bottom" title="Clear">
                            <i class="fas fa-broom"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <igx-grid #itemGrid [data]="soItemList" [autoGenerate]="false" [paging]="true" [rowEditable]="false"
                    [primaryKey]="'itemId'" cellSelection="none" (onColumnResized)="onResize($event)" [perPage]="10"
                    height="300px" displayDensity="compact" [allowFiltering]="true" [filterMode]="'excelStyleFilter'"
                    [allowAdvancedFiltering]="true" [rowSelection]="'Single'">
                    <igx-column field="status" [width]="'120px'" [selectable]="false" [sortable]="false" [resizable]="false" 
                            [editable]="false" >
                        <ng-template igxCell let-cell="cell">
                            <div *ngIf="cell.value; then completeBlock else elseBlock"></div>
                            <ng-template #completeBlock>
                                <button igxButton="icon" class="fab-compact" [disabled]="'true'">
                                    <igx-icon fontSet="material" style="color:green">arrow_drop_down_circle</igx-icon>
                                </button>
                            </ng-template>
                            <ng-template #elseBlock>
                                <button igxButton="icon" class="fab-compact" (click)="onAddItemToDelivery($event,cell.cellID)">
                                    <igx-icon fontSet="material" style="color:mediumvioletred">arrow_drop_down_circle
                                    </igx-icon>
                                </button>
                            </ng-template>
                            <!-- <button igxButton="icon" class="fab-compact" (click)="onAddItemToDelivery($event,cell.cellID)">
                                <igx-icon family="material">arrow_circle_down</igx-icon>
                            </button> -->
                            <button igxButton="icon" class="fab-compact" (click)="onItemEdit($event,cell.cellID)">
                                <igx-icon family="material">edit</igx-icon>
                            </button>
                            <button igxButton="icon" class="fab-compact" (click)="openItemDialog($event,cell.cellID)">
                                <igx-icon family="material">delete</igx-icon>
                            </button>
                        </ng-template>
                    </igx-column>
                    <igx-column [field]="'articleName'" [header]="'Article'" [resizable]="true" [dataType]="'string'" [width]="'300px'"
                        [sortable]="true" [editable]="false">
                    </igx-column>
                    <igx-column [field]="'color'" [header]="'Color'" [resizable]="true" [dataType]="'string'" [width]="'120px'"
                        [sortable]="true" [editable]="false">
                    </igx-column>
                    <igx-column [field]="'size'" [header]="'Size'" [resizable]="true" [dataType]="'string'" [width]="'120px'"
                        [sortable]="true" [editable]="false">
                    </igx-column>
                    <igx-column [field]="'qty'" [header]="'Qty'" [resizable]="true" [dataType]="'number'" [width]="'100px'"
                        [sortable]="true" [editable]="true">
                    </igx-column>
                    <igx-column [field]="'price'" [header]="'Price'" [resizable]="true" [dataType]="'number'" [pipeArgs]="formatPrice" [width]="'100px'"
                         [sortable]="true">
                    </igx-column>
                    <!-- <igx-column [field]="'costingRef'" [header]="'Cost. Ref'" [resizable]="true" [dataType]="'string'" [width]="'150px'"
                        [sortable]="true" [editable]="false">
                    </igx-column> -->
                    <igx-column [width]="'120px'"  [field]="'costingRef'" [header]="'Cost. Ref'" [sortable]="true" [resizable]="true" [dataType]="'string'"
                            [editable]="false">
                        <ng-template igxCell let-cell="cell">                            
                            <a class="truncate" href="" target="_blank" (click)="previewCostSheet($event,cell.cellID);event.preventDefault();">{{cell.value}}</a>                            
                        </ng-template>
                    </igx-column>
                    <igx-column [width]="'50px'" [field]="'costingId'" [header]="' '" [selectable]="false" [sortable]="false" [resizable]="false">
                        <ng-template igxCell let-cell="cell">
                            <div *ngIf="cell.value > 0; then thenBlock else elseBlock"></div>                           
                            <ng-template #thenBlock>
                                <button igxButton="icon" class="fab-compact" data-toggle="modal" data-target="#modalCost" 
                                        (click)="onRemoveCostSheet($event,cell.cellID)">
                                    <igx-icon class="icon-red" family="material">cancel</igx-icon>
                                </button>
                            </ng-template> 
                        </ng-template>
                    </igx-column>
                    <igx-column [field]="'isIntendCreated'" [header]="'Intend Created'" [resizable]="true" [width]="'150px'"
                        [dataType]="'boolean'" [sortable]="true" [editable]="false">
                    </igx-column>                   

                </igx-grid>
            </div>
        </form>

        <br>
        <!-- SALES DELIVERY ITEMS -->
        <form [formGroup]="soDeliveyForm" autocomplete="off" >
            <!-- *ngIf="this.soHeaderForm.get('headerId').value > 0" -->
            <div class="row">
                <div class="col-12">
                    <h6 class="bg-secondary">
                        <!-- <i class="fas fa-file-alt"></i>  -->
                        Delivery Breakdown
                    </h6>
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Location *</label>
                        <igx-combo #delivLocation id="delivLocation" class="combo" displayKey="shortCode" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="customerDtList" placeholder="Location"
                            (onSelectionChange)="singleSelection($event)" formControlName="deliCustLocId"
                            searchPlaceholder="Search...">
                        </igx-combo>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="deliveryRef" />
                            <label igxLabel for="deliveryRef"> Del. Ref </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="group">
                        <igx-date-picker id="deliveryDate" formControlName="deliveryDate">
                            <label igxLabel>Del. Date</label>
                        </igx-date-picker>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="articleName" />
                            <label igxLabel for="articleName"> Article </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="color" />
                            <label igxLabel for="color"> Color </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="size" />
                            <label igxLabel for="size"> Size </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="qty" />
                            <label igxLabel for="qty"> Qty </label>
                        </igx-input-group>
                    </div>
                </div>

                <!-- <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="price" />
                            <label igxLabel for="price"> Price </label>
                        </igx-input-group>
                    </div>
                </div> -->

                <div class="col-sm-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success mr-3" [disabled]="!soDeliveyForm.valid"
                            (click)="addDeliveryItemRow()" data-toggle="tooltip" data-placement="bottom" title="Add">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default" (click)="clearDeliveryControls()"
                            data-toggle="tooltip" data-placement="bottom" title="Clear">
                            <i class="fas fa-broom"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <igx-grid #deliveryGrid [data]="soDelivList" [autoGenerate]="false" [paging]="true"
                    [rowEditable]="false" [primaryKey]="'deliveryId'" cellSelection="none"
                    (onColumnResized)="onResize($event)" [perPage]="10" height="400px" displayDensity="compact"
                    [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true"
                    [rowSelection]="'Single'">
                    <igx-column [width]="'100px'" [selectable]="false" [sortable]="false" [resizable]="false">
                        <ng-template igxCell let-cell="cell">
                            <button igxButton="icon" class="fab-compact" (click)="openDelivDialog($event,cell.cellID)">
                                <igx-icon family="material">delete</igx-icon>
                            </button>
                            <button igxButton="icon" class="fab-compact" (click)="onDeliveryEdit($event,cell.cellID)">
                                <igx-icon family="material">edit</igx-icon>
                            </button>
                        </ng-template>
                    </igx-column>
                    <igx-column [field]="'deliCustLocId'" [header]="'ID'" [width]="'0px'" [resizable]="false" [dataType]="'number'" [sortable]="false">
                    </igx-column>
                    <igx-column [field]="'deliCustLoc'" [header]="'DelCustomer Loc'" [resizable]="true" [dataType]="'string'" [sortable]="true" [width]="'150px'">
                    </igx-column>
                    <igx-column [field]="'deliveryRef'" [header]="'Delivery Ref'" [resizable]="true" [dataType]="'string'" [sortable]="true" [width]="'150px'">
                    </igx-column>
                    <igx-column [field]="'deliveryDate'" [header]="'Delivery Date'" [resizable]="true" [dataType]="'string'" [sortable]="true" [width]="'150px'">
                    </igx-column>
                    <igx-column [field]="'article'" [header]="'Article'" [resizable]="true" [dataType]="'string'" [sortable]="true" [width]="'300px'">
                    </igx-column>
                    <igx-column [field]="'color'" [header]="'Color'" [resizable]="true" [dataType]="'string'" [sortable]="true" [width]="'120px'">
                    </igx-column>
                    <igx-column [field]="'size'" [header]="'Size'" [resizable]="true" [dataType]="'string'" [sortable]="true" [width]="'120px'">
                    </igx-column>
                    <igx-column [field]="'qty'" [header]="'Qty'" [resizable]="true" [dataType]="'string'" [sortable]="true" [width]="'120px'">
                    </igx-column>
                </igx-grid>
            </div>
        </form>
    </div>
</div>

<igx-dialog #dialog title="Confirmation" leftButtonLabel="Cancel" (onLeftButtonSelect)="dialog.close()"
    rightButtonLabel="OK" (onRightButtonSelect)="onDialogOKSelected($event)"
    message="Are you sure you want to delete the record ?">
</igx-dialog>

<igx-dialog #savedialog title="Confirmation" leftButtonLabel="Cancel" (onLeftButtonSelect)="savedialog.close()"
    rightButtonLabel="OK" (onRightButtonSelect)="onSaveSelected($event)"
    message="Do you want to save the record ?">
</igx-dialog>

<igx-dialog #articleDialog [closeOnOutsideSelect]="false">
    <igx-dialog-title>
        <h5 class="col-md-11 bg-secondary">
            Article
        </h5>
        <div igxButton class="col-md-1" (click)="articleDialog.close()">
            <igx-icon>clear</igx-icon>
        </div>
    </igx-dialog-title>

    <form [formGroup]="articleForm">
        <div class="row">                
            <div class="col-md-2">
                <div class="form-group">
                    <label>Category *</label>
                    <igx-combo #category id="category" class="combo" displayKey="name" valueKey="autoId"
                        [itemsMaxHeight]="250" [data]="categoryList" placeholder="Category"
                        (onSelectionChange)="singleSelection($event)" (onSelectionChange)="onSelectCategory($event)"
                        formControlName="category" searchPlaceholder="Search...">
                    </igx-combo>
                </div>
            </div>
        
            <div class="col-md-2">
                <div class="form-group">
                    <label>Product Type *</label>
                    <igx-combo #prodType id="prodType" class="combo" displayKey="prodTypeName" valueKey="autoId" [itemsMaxHeight]="250"
                        [data]="prodTypeList" placeholder="Product Type" (onSelectionChange)="singleSelection($event)"
                        (onSelectionChange)="onSelectProdType($event)" formControlName="prodType" searchPlaceholder="Search...">
                    </igx-combo>
                </div>
            </div>
        
            <div class="col-md-2">
                <div class="form-group">
                    <label>Product Group *</label>
                    <igx-combo #prodGroup id="prodGroup" class="combo" displayKey="prodGroupName" valueKey="autoId"
                        [itemsMaxHeight]="250" [data]="prodGroupList" placeholder="Product Group"
                        (onSelectionChange)="singleSelection($event)" formControlName="prodGroup"
                        (onSelectionChange)="onSelectProdGroup($event)" searchPlaceholder="Search...">
                    </igx-combo>
                </div>
            </div>              
        </div> 
        <div class="row">
            <igx-hierarchical-grid #articleGrid [data]="articleList" [autoGenerate]="false" [paging]="true" [rowEditable]="false"
                [primaryKey]="'autoId'" cellSelection="none" (onColumnResized)="onResize($event)" [perPage]="10"
                height="500px" displayDensity="compact" width="1200px" [allowFiltering]="true"
                [filterMode]="'excelStyleFilter'" [rowSelection]="'Single'">
                <igx-column [width]="'50px'" [selectable]="false" [sortable]="false" [resizable]="false">
                    <ng-template igxCell let-cell="cell">
                        <button igxButton="icon" class="fab-compact" (click)="selectArticle($event,cell.cellID)">
                            <igx-icon family="material">check_circle</igx-icon>
                        </button>
                    </ng-template>
                </igx-column>
                <igx-column [field]="'stockCode'" [header]="'Stock Code'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'articleName'" [header]="'Article Name'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'description1'" [header]="'Description1'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'description2'" [header]="'Description2'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'colorCardName'" [header]="'Color Card'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'sizeCardName'" [header]="'Size Card'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'unitCode'" [header]="'Unit'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                </igx-column>               
                <igx-column [field]="'measurement'" [header]="'Measurement'" [resizable]="true" [dataType]="'string'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'salesPrice'" [header]="'SalesPrice'" [resizable]="true" [dataType]="'number'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'lastCostPrice'" [header]="'LastCostPrice'" [resizable]="true" [dataType]="'number'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'avgCostPrice'" [header]="'AvgCostPrice'" [resizable]="true" [dataType]="'number'" [sortable]="true">
                </igx-column>
                <igx-column [field]="'maxCostPrice'" [header]="'MaxCostPrice'" [resizable]="true" [dataType]="'number'" [sortable]="true">
                </igx-column>
                <igx-row-island [key]="'FlexFields'">
                    <igx-column [field]="'flexFieldName'" [header]="'FieldName'" [resizable]="true" [dataType]="'string'" 
                            [sortable]="true" [width]="'200px'" >
                    </igx-column>
                    <igx-column [field]="'flexFieldValue'" [header]="'FieldValue'" [resizable]="true" [dataType]="'string'" 
                            [sortable]="true" [width]="'120px'" >
                    </igx-column>
                </igx-row-island>
            </igx-hierarchical-grid>
        </div>
    </form>
</igx-dialog>

<!-- SALES ORDER LIST  -->
<div class="modal fade" id="modalSalesList">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> List of Sales Order </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="salesListForm" autocomplete="off">
                    <div class="row">
                        <div class="col-md-4">            
                            <div class="form-group">
                                <igx-input-group>
                                    <input class="gridSample__filter" igxInput type="text" placeholder="Filter by Customer PO #" 
                                    (input)="filterByCusRef($event.target.value)" formControlName="customerPO">
                                    <label igxLabel for="customerPO"> Customer PO </label>
                                </igx-input-group><br>
                                <!-- <igx-input-group>
                                    <input igxInput type="text" formControlName="customerPO" />
                                    <label igxLabel for="customerPO"> Filter by Customer PO # </label>
                                </igx-input-group> -->
                            </div>            
                        </div>  
                    </div>
                    
                    <div class="row">
                        <igx-grid #salesListGrid [data]="salesOrderList" [autoGenerate]="false" [paging]="true" [rowEditable]="false" 
                        [primaryKey]="'autoId'" cellSelection="none" (onColumnResized)="onResize($event)" [perPage]="50" height="400px" displayDensity="compact"
                        [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true"
                        [rowSelection]="'Single'">
                            <igx-column [width]="'50px'" [selectable]="false" [sortable]="false" [resizable]="false">
                                <ng-template igxCell let-cell="cell">
                                    <button igxButton="icon" class="fab-compact" (click)="onViewSalesDetails($event,cell.cellID)"
                                        data-dismiss="modal">
                                        <igx-icon family="material">visibility</igx-icon>
                                    </button>                                                             
                                </ng-template>
                            </igx-column>
                            <igx-column [field]="'customer'" [header]="'Customer'" [resizable]="true" [dataType]="'string'" [sortable]="true"
                                [width]="'250px'" [editable]="false">
                            </igx-column>
                            <igx-column [field]="'orderRef'" [header]="'Sales Order#'" [resizable]="true" [dataType]="'string'"
                                [sortable]="true" [width]="'150px'" [editable]="false">
                            </igx-column>
                            <igx-column [field]="'trnsDate'" [header]="'Trans Date'" [resizable]="true" [dataType]="'date'"
                                [sortable]="true" [pipeArgs]="formatDateOptions" [width]="'120px'" [editable]="false">
                            </igx-column>
                            <igx-column [field]="'delDate'" [header]="'Del Date'" [resizable]="true" [dataType]="'date'"
                                [sortable]="true" [pipeArgs]="formatDateOptions" [width]="'120px'" [editable]="false">
                            </igx-column>
                            <igx-column [field]="'customerRef'" [header]="'Customer PO#'" [resizable]="true" [dataType]="'string'"
                                [sortable]="true" [width]="'150px'" [editable]="false" >
                            </igx-column>
                                               
                        </igx-grid>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
            </div>
        </div>
    </div>
</div>

<!-- <igx-dialog #form [closeOnOutsideSelect]="false">
    <igx-dialog-title>
        <div class="col-md-11">
            <h5 class="bg-secondary">
                Article
            </h5>
        </div>
        <div class="col-md-1">
            <div igxButton (click)="form.close()">
                <igx-icon>clear</igx-icon>
            </div>
        </div>
    </igx-dialog-title>

    <igx-grid #articleGrid [data]="articleList" [autoGenerate]="false" [paging]="true" [rowEditable]="false"
        [primaryKey]="'autoId'" cellSelection="none" (onColumnResized)="onResize($event)" [perPage]="10" height="500px"
        displayDensity="compact" width="1200px" [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [rowSelection]="'Single'">
        <igx-column [width]="'50px'" [selectable]="false" [sortable]="false" [resizable]="false">
            <ng-template igxCell let-cell="cell">
                <button igxButton="icon" class="fab-compact" (click)="selectArticle($event,cell.cellID)">
                    <igx-icon family="material">check_circle</igx-icon>
                </button>
            </ng-template>
        </igx-column>
        <igx-column [field]="'articleName'" [header]="'Article Name'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'stockCode'" [header]="'Stock Code'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'description1'" [header]="'Description1'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'description2'" [header]="'Description2'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'height'" [width]="'100px'" [header]="'Height'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'width'" [width]="'100px'" [header]="'Width'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'length'" [width]="'100px'" [header]="'Length'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'boardLength'" [width]="'100px'" [header]="'Board Length'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'boardWidth'" [width]="'100px'" [header]="'Board Width'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'rollWidth'" [width]="'100px'" [header]="'Roll Width'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'unitCode'" [width]="'100px'" [header]="'Unit'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
   
        <igx-column [field]="'catCode'" [width]="'100px'" [header]="'Category'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'prodTypeCode'" [header]="'Prod.Type'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
        <igx-column [field]="'prodGroupCode'" [header]="'Prod.Group'" [resizable]="true" [dataType]="'string'"
            [sortable]="true">
        </igx-column>
    </igx-grid>
</igx-dialog> -->