<div class="card card-default">
    <!-- <div class="card-header">
        <h3 class="card-title">Sales Order</h3>       
    </div> -->

    <div class="card-body">
        <!-- FPO HEADER -->
        <form [formGroup]="fpoHeaderForm" (ngSubmit)="fpoHeaderForm.valid" autocomplete="off">
            <div class="row">
                <div class="col-md-8">
                    <h6 class="bg-secondary">
                        <!-- <i class="fas fa-file-alt"></i>  -->
                        Factory Production Order Header
                    </h6>                    
                </div>
                <div class="col-md-2">
                    <h6 class="bg-danger text-white"> {{ fpoStatus }} </h6>
                </div>
                <div class="col-md-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success mr-1" [disabled]="!fpoHeaderForm.valid"
                            (click)="this.savedialog.open()" data-toggle="tooltip" data-placement="bottom" title="Save">
                            <i class="fas fa-save"></i>
                        </button>
                        <button type="button" class="btn btn-danger mr-1" (click)="openConfirmDialog($event)"
                            data-toggle="tooltip" data-placement="bottom" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-default" (click)="refreshControls()"
                            data-toggle="tooltip" data-placement="bottom" title="Clear">
                            <i class="fas fa-redo"></i>
                        </button>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <div class="row">              

                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label>FPO No *</label>
                        <igx-input-group type="search">
                            <input #input1 igxInput placeholder="FPO No" formControlName="fPONo"
                                (keyup)="onKey($event)" />
                            <igx-suffix *ngIf="input1.value.length > 0" (click)="input1.value = ''" (click)="refreshControls()">
                                <igx-icon>clear</igx-icon>
                            </igx-suffix>
                            <igx-prefix (click)="loadFPODetails()">
                                <igx-icon>search</igx-icon>
                            </igx-prefix>
                        </igx-input-group>
                    </div>
                </div> -->

                <div class="col-md-2">
                    <label> FPO No *</label>
                    <div class="input-group mb-3">                        
                        <input type="text" placeholder="FPO No" formControlName="fPONo" class="form-control rounded-0">
                        <span class="input-group-append">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalFPO" data-placement="bottom" title="View"> 
                              <i class="fas fa-eye"></i> </button>
                        </span>
                      </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group" *ngIf="!isDisplayMode">
                        <label>Job No *</label>
                        <igx-combo #jobNo id="jobHeaderId" class="combo" displayKey="jobNo" valueKey="autoId"
                            [itemsMaxHeight]="250" [data]="pendJobList" placeholder="Job No"
                            (onSelectionChange)="onJobNoSelect($event)" (onSelectionChange)="singleSelection($event)"
                            formControlName="jobHeaderId" searchPlaceholder="Search...">
                        </igx-combo>
                    </div>

                    <div class="form-group" *ngIf="isDisplayMode">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="jobHeaderId" />
                            <label igxLabel for="jobHeaderId"> Job No *</label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="group">
                        <igx-date-picker id="startDate" formControlName="startDate">
                            <label igxLabel>Start Date</label>
                        </igx-date-picker>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="group">
                        <igx-date-picker id="endDate" formControlName="endDate">
                            <label igxLabel>End Date</label>
                        </igx-date-picker>
                    </div>
                    <label class="text-danger" *ngIf="fpoHeaderForm.errors">{{ fpoHeaderForm.errors?.dates | json }}</label>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="remarks" />
                            <label igxLabel for="remarks"> Remarks </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="number" formControlName="qty" />
                            <label igxLabel for="qty"> Plan Qty </label>
                        </igx-input-group>
                    </div>
                </div>
            </div>
        </form>

        <!-- PENDING JOB DETAILS -->
        <div class="grid__wrapper">
            <div class="sample__header">
                <h6 class="bg-secondary">Pending Job Details</h6>                
            </div>
            <div class="row">
                <igx-grid #pendJobDtGrid [data]="jobDtList" [autoGenerate]="false" [paging]="true"
                    [primaryKey]="'soDelivDtId'" cellSelection="none" [rowEditable]="false"
                    (onColumnResized)="onResize($event)" [perPage]="10" height="300px" displayDensity="compact"
                    [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true"
                    [rowSelection]="'Single'">

                    <igx-column [width]="'50px'" [field]="'status'" [header]="' '" [selectable]="false"
                        [sortable]="false" [resizable]="false">
                        <ng-template igxCell let-cell="cell">
                            <div *ngIf="!cell.value; then completeBlock else elseBlock"></div>
                            <ng-template #completeBlock>
                                <button igxButton="icon" class="fab-compact"
                                    (click)="onPendingOrderDown($event,cell.cellID)">
                                    <igx-icon fontSet="material" style="color:green">arrow_drop_down_circle</igx-icon>
                                </button>
                            </ng-template>
                            <ng-template #elseBlock>
                                <button igxButton="icon" class="fab-compact" [disabled]="'true'">
                                    <igx-icon fontSet="material" style="color:mediumvioletred">arrow_drop_down_circle
                                    </igx-icon>
                                </button>
                            </ng-template>
                        </ng-template>
                    </igx-column>
                    <igx-column [field]="'deliveryRef'" [header]="'DeliveryRef'" [width]="'150px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'customer'" [header]="'Customer'" [width]="'130px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'articleName'" [header]="'Article'" [width]="'150px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column field="color" [width]="'110px'" header="Color" [sortable]="true" [resizable]="true"
                        [dataType]="'string'" resizable="true">
                    </igx-column>
                    <igx-column [field]="'size'" [header]="'Size'" [width]="'110px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'combination'" [header]="'Combination'" [width]="'150px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'jobQty'" [header]="'Job Qty'" [width]="'100px'" [resizable]="true"
                        [dataType]="'number'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'fpoQty'" [header]="'FPO Qty'" [width]="'100px'" [resizable]="true"
                        [dataType]="'number'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'balQty'" [header]="'Bal Qty'" [width]="'100px'" [resizable]="true"
                        [dataType]="'number'" [sortable]="true">
                    </igx-column>
                </igx-grid>
            </div>
        </div>

        <form [formGroup]="fpoDetailForm" (ngSubmit)="fpoDetailForm.valid" autocomplete="off">
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="deliveryRef" />
                            <label igxLabel for="deliveryRef"> Delivery Ref </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="customer" />
                            <label igxLabel for="customer"> Customer </label>
                        </igx-input-group>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="articleName" />
                            <label igxLabel for="articleName"> Article </label>
                        </igx-input-group>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="color" />
                            <label igxLabel for="color"> Color </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="size" />
                            <label igxLabel for="size"> Size </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="text" formControlName="combination" />
                            <label igxLabel for="combination"> Combination </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="number" formControlName="jobQty" />
                            <label igxLabel for="jobQty"> JobQty </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="number" formControlName="prevfpoQty" />
                            <label igxLabel for="prevfpoQty"> PrevFPO Qty </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="number" formControlName="fpoQty" />
                            <label igxLabel for="fpoQty"> FPO Qty </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <igx-input-group>
                            <input igxInput type="number" formControlName="balQty" />
                            <label igxLabel for="balQty"> BalQty </label>
                        </igx-input-group>
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success mr-1" [disabled]="!fpoDetailForm.valid"
                            (click)="updateFPORow()" data-toggle="tooltip" data-placement="bottom" title="Add">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default" (click)="clearFPODetailControls()"
                            data-toggle="tooltip" data-placement="bottom" title="Clear">
                            <i class="fas fa-broom"></i>
                        </button>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- FPO ORDER -->
        <div class="grid__wrapper" >
            <div class="sample__header">
                <h6 class="bg-secondary">Factory Production Order</h6>
            </div>
            <div class="row">
                <igx-grid #fpoGrid [data]="fpoList" [autoGenerate]="false" [paging]="true" [primaryKey]="'soDelivDtId'"
                    cellSelection="none" [rowEditable]="false" (onColumnResized)="onResize($event)" [perPage]="10"
                    height="300px" displayDensity="compact" [allowFiltering]="true" [filterMode]="'excelStyleFilter'"
                    [allowAdvancedFiltering]="true" [rowSelection]="'Single'">

                    <igx-column [width]="'80px'" [selectable]="false" [sortable]="false" [resizable]="false">
                        <ng-template igxCell let-cell="cell">
                            <button igxButton="icon" class="fab-compact" [disabled]="isGridDisabled"
                                (click)="openConfirmDialogLine($event,cell.cellID)">
                                <igx-icon family="material">delete</igx-icon>
                            </button>
                            <button igxButton="icon" class="fab-compact" (click)="onFPOEdit($event,cell.cellID)" [disabled]="isGridDisabled">
                                <igx-icon family="material">edit</igx-icon>
                            </button>
                        </ng-template>
                    </igx-column>
                    <igx-column [field]="'deliveryRef'" [header]="'DeliveryRef'" [width]="'150px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'customer'" [header]="'Customer'" [width]="'130px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'articleName'" [header]="'Article'" [width]="'150px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column field="color" [width]="'110px'" header="Color" [sortable]="true" [resizable]="true"
                        [dataType]="'string'" resizable="true">
                    </igx-column>
                    <igx-column [field]="'size'" [header]="'Size'" [width]="'110px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'combination'" [header]="'Combination'" [width]="'150px'" [resizable]="true"
                        [dataType]="'string'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'jobQty'" [header]="'Job Qty'" [width]="'100px'" [resizable]="true"
                        [dataType]="'number'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'prevfpoQty'" [header]="'Prev FPOQty'" [width]="'130px'" [resizable]="true"
                        [dataType]="'number'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'fpoQty'" [header]="'FPO Qty'" [width]="'100px'" [resizable]="true"
                        [dataType]="'number'" [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'balQty'" [header]="'Bal Qty'" [width]="'100px'" [resizable]="true"
                        [dataType]="'number'" [sortable]="true">
                    </igx-column>
                </igx-grid>
            </div>
        </div>

    </div>
</div>

<igx-dialog #dialog title="Confirmation" leftButtonLabel="Cancel" (onLeftButtonSelect)="dialog.close()"
    rightButtonLabel="OK" (onRightButtonSelect)="onDialogOKSelected($event)"
    message="Are you sure you want to delete the record ?">
</igx-dialog>

<igx-dialog #savedialog title="Confirmation" leftButtonLabel="Cancel" (onLeftButtonSelect)="savedialog.close()"
    rightButtonLabel="OK" (onRightButtonSelect)="onSaveSelected($event)"
    message="Do you want to save the record ?">
</igx-dialog>
<!-- <p> Form Value : {{jobCardForm.value | json }} </p>
<p> Form Status : {{jobCardForm.status | json }} </p> -->

<!-- FPO LIST  -->
<div class="modal fade" id="modalFPO">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> List of FPO </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="fpoListForm" autocomplete="off">
                    <div class="row">
                        <div class="col-md-4">            
                            <div class="form-group">
                                <igx-input-group>
                                    <input class="gridSample__filter" igxInput type="text" placeholder="Filter by Customer PO #" 
                                    (input)="filterByCusRef($event.target.value)" formControlName="customerPO">
                                    <label igxLabel for="customerPO"> Customer PO </label>
                                </igx-input-group><br>
                                <!-- <igx-input-group>
                                    <input igxInput type="text" formControlName="customerPO" />
                                    <label igxLabel for="customerPO"> Filter by Customer PO # </label>
                                </igx-input-group> -->
                            </div>            
                        </div>  
                    </div>
                    
                    <div class="row">
                        <igx-grid #fpoListGrid [data]="fpoNoList" [autoGenerate]="false" [paging]="true" [rowEditable]="false" 
                        [primaryKey]="'fpoId'" cellSelection="none" (onColumnResized)="onResize($event)" [perPage]="50" height="400px" displayDensity="compact"
                        [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true"
                        [rowSelection]="'Single'">
                            <igx-column [width]="'50px'" [selectable]="false" [sortable]="false" [resizable]="false">
                                <ng-template igxCell let-cell="cell">
                                    <button igxButton="icon" class="fab-compact" (click)="onViewFPODetails($event,cell.cellID)"
                                        data-dismiss="modal">
                                        <igx-icon family="material">visibility</igx-icon>
                                    </button>                                                             
                                </ng-template>
                            </igx-column>
                            <igx-column [field]="'fpoNo'" [header]="'FPO No'" [resizable]="true" [dataType]="'string'"
                                [sortable]="true" [width]="'150px'" [editable]="false">
                            </igx-column>
                            <igx-column [field]="'jobNo'" [header]="'Job No'" [resizable]="true" [dataType]="'string'" [sortable]="true"
                                [width]="'250px'" [editable]="false">
                            </igx-column>
                            <igx-column [field]="'customerRef'" [header]="'Customer PO'" [resizable]="true" [dataType]="'string'"
                                [sortable]="true" [width]="'150px'" [editable]="false" >
                            </igx-column>
                            <igx-column [field]="'startDate'" [header]="'Start Date'" [resizable]="true" [dataType]="'date'"
                                [sortable]="true" [pipeArgs]="formatDateOptions" [width]="'120px'" [editable]="false">
                            </igx-column> 
                            <igx-column [field]="'endDate'" [header]="'End Date'" [resizable]="true" [dataType]="'date'"
                                [sortable]="true" [pipeArgs]="formatDateOptions" [width]="'120px'" [editable]="false">
                            </igx-column>                   
                        </igx-grid>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
            </div>
        </div>
    </div>
</div>