<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-sm-6">
                <h4>User Register</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Register</li> 
                </ol>
            </div>
        </div> -->
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Left column -->
            <div class="col-md-6">
                <!-- general form elements disabled -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">User Registration</h3>
                    </div>
                    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- text input -->
                                <div class="form-group">
                                    <igx-input-group>
                                        <input igxInput type="text" formControlName="cAgentName" />
                                        <label igxLabel for="cAgentName"> User Name</label>                                        
                                    </igx-input-group>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <igx-input-group>
                                        <input igxInput type="password" formControlName="cPassword" />
                                        <label igxLabel for="cPassword"> Password</label>                                        
                                    </igx-input-group>
                                    <!-- <label class="col-form-label"> Password</label>
                                    <input type="password" class="form-control" name="password"
                                        [(ngModel)]="model.cPassword" placeholder="password"> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <igx-input-group>
                                        <input igxInput type="password" formControlName="confirmPassword" />
                                        <label igxLabel for="confirmPassword"> confirmPassword</label>  
                                    </igx-input-group>
                                    <!-- <label class="col-form-label"> Password</label>
                                    <input type="password" class="form-control" name="password"
                                        [(ngModel)]="model.cPassword" placeholder="password"> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Factory </label>
                                    <igx-combo #combo class="combo" displayKey="factory" valueKey="autoId" [itemsMaxHeight]="250"
                                        [data]="factory" placeholder="Factory" (onSelectionChange)="singleSelection($event)"
                                        formControlName="factoryId" searchPlaceholder="Search...">
                                    </igx-combo>   
                                    <!-- <select class="form-control">
                                        <option *ngFor="let fac of factory" [value]="fac.autoId">
                                            {{fac.factory}}
                                        </option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                    <label>User Level</label>
                                    <igx-combo #combo class="combo" displayKey="levelDescription" valueKey="autoId" [itemsMaxHeight]="250"
                                        [data]="userLevel" placeholder="User Level" (onSelectionChange)="singleSelection($event)"
                                        formControlName="iCategoryLevel" searchPlaceholder="Search...">
                                    </igx-combo>                                
                                </div>
                            </div>

                        </div>

                        <!-- input states -->
                        <div class="form-group">
                            <igx-input-group>
                                <input igxInput type="text" formControlName="cDescription" />
                                <label igxLabel for="cDescription"> Description</label>
                            </igx-input-group>
                            <!-- <label class="col-form-label">Description</label>
                            <input type="text" class="form-control" [(ngModel)]="model.cDescription" name="Description" placeholder="Description"> -->
                        </div>
                        <div class="form-group">
                            <igx-input-group>
                                <input igxInput type="text" formControlName="cEmail" />
                                <label igxLabel for="cEmail"> E-mail</label>
                            </igx-input-group>
                            <!-- <label class="col-form-label">E-mail</label>
                            <input type="email" class="form-control" [(ngModel)]="model.cEmail" name="email" placeholder="email"> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-2 offset-md-10">
                                <!-- checkbox -->
                                <div class="form-group">
                                    <igx-checkbox>
                                        Admin
                                    </igx-checkbox>
                                    <!-- <div class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label">Admin</label>
                                    </div>                                     -->
                                </div>
                            </div>                           
                        </div>
                        <div class="row" *ngIf="validationErrors.length > 0">
                            <ul class="text-danger text-left">
                                <li *ngFor="let error of validationErrors">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-sm-4 offset-md-8">
                            <div class="button-sample">
                                <button type="submit" [disabled]="!registerForm.valid" igxButton="raised" igxButtonBackground="#72da66" igxRipple>Register</button>
                                <button type="button" (click)="cancelRegister()" igxButton="flat">New</button>
                            </div>
                            <!-- <button type="submit" class="btn btn-success mr-2">Register</button>
                            <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button> -->
                        </div>
                    </div>
                    </form>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!--Right Colum-->
             <!-- right column -->
<div class="col-md-6">
    <app-user-pwchange></app-user-pwchange>
</div>
            <!---->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<!-- <p> Form Value: {{registerForm.value | json}} </p>
<p> Form Status: {{registerForm.status | json}} </p> -->