  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/Dashboard" routerLinkActive="active">M Plus</a>

    <ul class="navbar-nav mr-auto" >
      <ng-container *ngIf="accountServices.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/UserCreation" routerLinkActive="active">User Management</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" (click) = "logout()" >Logout</a>
        </li>       -->
      </ng-container>      
    </ul>

    <div class="dropdown" *ngIf="(accountServices.currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.userName | titlecase}} </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    
    <!-- <form *ngIf="(accountServices.currentUser$ | async) === null" #loginForm = "ngForm" class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()" autocomplete="off">      
      <input 
        name = "username"
        [(ngModel)] = "model.cAgentName"
        class="form-control mr-sm-2" 
        type="text" 
        placeholder="Username">

      <input 
        name = "password"
        [(ngModel)] = "model.cPassword"
        class="form-control mr-sm-2" 
        type="password" 
        placeholder="Password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>      
    </form> -->
  </div>
</nav> 
 
 